.m-team-list-header {
    border-bottom: 1px solid @border-hr;
    .clearfix;
    padding-bottom: 10px;
    .u-title {
        .fz(14px);
        .dbi;
        .y;
        i {
            .fz(16px);
        }
        margin: 0 10px 0 0;
    }
    .u-server {
        .y(-2px);
        .w(120px);
        .mr(10px);
    }
    .u-name {
        .w(auto);
        .y(-2px);
        i {
            .pointer;
        }
    }
    .u-type {
        .y(-2px);
        .ml(10px);
        .w(120px);
    }
    .u-isVerified {
        .y(-2px);
        .ml(10px);
        .el-checkbox__label {
            .fz(12px);
        }
    }
    .pr;
    .db;
    .u-more {
        // .fz(12px,28px);
        .pa;
        .rt(0);
    }

    .m-filter__sub {
        margin-top: 10px;
        .flex;
        align-items: center;

        .el-switch__label,
        .el-checkbox__label {
            font-weight: normal;
            font-size: 12px !important;
            color: @color;
            * {
                font-size: 12px !important;
            }
        }
        .el-checkbox {
            margin-right: 20px;
        }

        .u-server {
            .w(180px);
        }

        .u-isVerified {
            margin-left: 0 !important;
            margin-right: 20px;
        }
    }
    .m-filter {
        .flex;
        align-items: center;
        .gap(10px);
    }
    .el-input-group--prepend .el-input-group__prepend .el-select__wrapper {
        box-shadow: none;
    }
}
@media screen and (max-width: @phone) {
    .m-team-list-header {
        .u-isVerified {
            .none;
        }
        .u-title {
            .db;
            .mb(10px);
        }
        .m-filter {
            flex-wrap: wrap;
        }
        .u-name {
            .w(100%);
        }
        .u-type {
            .none;
        }
    }
}

.m-team-list {
    .u-list {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .u-item {
        .db;
        .pr;
        padding-left: 70px + 15px;
        min-height: 70px;
        border-bottom: 1px solid @border;
        padding-bottom: 20px;
        padding-top: 20px;
        color: @color;
        &:hover {
            // background-color: @bg-light;
            .u-name{
                color:@v4primary;
            }
        }

        .u-pic {
            .db;
            .size(70px);
            border: 1px solid #eee;
            .pa;
            .lt(0, 20px);
            box-sizing: border-box;
            .r(35px);
            overflow: hidden;
            img {
                .r(4px);
            }
        }
        .u-name {
            .fz(14px, 1.2);
            .bold;
            .db;
            .mb(5px);
            color: #242424;
            .flex;
            align-items: center;
            padding: 0 5px;
        }
        .u-status {
            .fz(12px);
            font-style: normal;
            font-weight: normal;
            // background-color:#49c10f;
            // color:#fff;
            padding: 2px 5px;
            color: #00d26f;
            svg {
                .size(16px);
                .y(-3px);
                .mr(3px);
            }
        }
        .u-medals{
            .flex(y);
        }
        .u-meta {
            .db;
            .fz(12px, 1.8);
            .pr;
            .flex;
            align-items: center;
            // left: -2px;
            .gap(15px);
        }

        .u-meta-item {
            .flex;
            align-items: center;

            em {
                margin-right: 5px;
                background-color: @bg-light;
                color: @v4tip;
                padding: 0 10px;
                border-radius: 4px;
                font-style: normal;
                font-size: 12px;
                line-height: 25px;
            }

            span {
                .mr(15px);
            }
        }

        .u-super {
            .flex;
            align-items: center;
            .gap(3px);
        }

        .u-user-avatar {
            .size(16px);
            border-radius: 50%;
            .pr;
        }

        .u-time {
            .fz(12px);
            color: #888;
        }
        .u-recruit {
            margin-top: 5px;
        }

        .u-tag {
            // min-height: 24px;
        }

        .u-tag-item {
            // padding: 2px 5px;
            // .r(3px);
            // .mr(8px) !important;
            // font-size: 12px;

            // background-color: #f2f6fc;
            // color: #637a9c;

            &.love {
                &::before {
                    content: "♥";
                    .mr(5px);
                    color: #ff93bb;
                }
            }
        }

        .u-medal-icon {
            .size(20px);
            .y;
        }
    }
}
@media screen and (max-width: @phone) {
    .m-team-list {
        .u-item {
            .u-meta {
                span {
                    .db;
                    .mb(5px);
                    &:last-child {
                        .mb(0);
                    }
                }
            }
            .u-tag {
                .none !important;
            }
        }
    }
}

.m-team-list-pages {
    .mt(40px);
    overflow-x: auto;
}
